#form-rate-sites{
    background-color: rgb(209, 209, 209);
    padding: 50px;

}

#form-button{
    background-color: rgb(209, 209, 209);
    margin-top: 50px;
    margin-left: 39%;
    width: 250px;
    height: 80px;
    border: none;
    color: black;
}

#form-button:hover{
    background-color: grey;
}